<%- include('../partials/head') -%>
<title>Home</title>
</head>
<body class="bg-dark">
    <%- include('../partials/navBar') -%>
    <h1 class="text-primary m-5">Movies Database</h1>
    <div class="container m-5"> <form action="/home/results/" method="post" class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-success" type="submit">Search</button></div>
   
</body>
<%- include('../partials/foot') -%>