<%- include('../partials/head') -%>
<title>Upcomming movies</title>
</head>
<body class="bg-dark">
    <%- include('../partials/navBar') -%>
    <h1 class="text-primary m-5">Upcomming Movies</h1>
    <% source.title.forEach(e => { %>
     <p class="text-primary m-5"><%= e.title%> </p>
    <% }) %>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>