<%- include('../partials/head') -%>
<title>Top Movies</title>
<body>
    <%- include('../partials/navBar') -%>
         <h1>Top Movies</h1> 
        <% source.data.forEach(e => { %>

         <p><a href="/"><%= e.name%></a> </p>

        <% }) %>
</body>
<%- include('../partials/foot') -%>