<!-- <%- include('../partials/head') -%>
<title>Top Movies</title>
<body>
    <%- include('../partials/navBar') -%>
        <h1>Top Movies</h1>
        <% source.data.forEach(e => { %>
         <p><%= e.name%> </p>
        <% }) %>
        <img src="" alt="">
</body>
<%- include('../partials/foot') -%> -->