<%- include('../partials/head') -%>
<title>Top Movies</title>
<body class="bg-dark">
    <%- include('../partials/navBar') -%>
         <h1 class="text-primary m-5">Top Movies</h1> 
        <% source.data.forEach(e => { %>

         <p class="text-primary m-5"><a href="/"><%= e.name%></a> </p>

        <% }) %>
</body>
<%- include('../partials/foot') -%>